node-red/dashboard-api.json
[{"id":"d2fb93f3.ae2e3","type":"http in","z":"55a6647.d17d59c","name":"GET temp/sec","url":"/temperature/seconds","method":"get","swaggerDoc":"","x":120.5,"y":53,"wires":[["eee4a97e.d2efe8"]]},{"id":"65bf4f67.555dd","type":"function","z":"55a6647.d17d59c","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":514.5,"y":52,"wires":[["4609dc3a.df3594"]]},{"id":"eee4a97e.d2efe8","type":"mongodb in","z":"55a6647.d17d59c","mongodb":"9821019d.e173a","name":"Find Tpsec","collection":"temperaturespsec","operation":"find","x":317.5,"y":51,"wires":[["65bf4f67.555dd"]]},{"id":"4609dc3a.df3594","type":"http response","z":"55a6647.d17d59c","name":"http find temp/sec","x":710.5,"y":52,"wires":[]},{"id":"4b2b9ac5.f40984","type":"http response","z":"55a6647.d17d59c","name":"http find temp/min","x":713,"y":99,"wires":[]},{"id":"4528cc7e.87ded4","type":"function","z":"55a6647.d17d59c","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":517,"y":99,"wires":[["4b2b9ac5.f40984"]]},{"id":"7a052cfa.105a34","type":"mongodb in","z":"55a6647.d17d59c","mongodb":"9821019d.e173a","name":"Find Tpmin","collection":"temperaturespmin","operation":"find","x":320,"y":98,"wires":[["4528cc7e.87ded4"]]},{"id":"b2bb1b05.bf2018","type":"http in","z":"55a6647.d17d59c","name":"GET temp/min","url":"/temperature/minutes","method":"get","swaggerDoc":"","x":123,"y":100,"wires":[["7a052cfa.105a34"]]},{"id":"d3f5e3da.d1fb8","type":"function","z":"55a6647.d17d59c","name":"Format 4 Secs","func":"var input = msg.payload;\nvar time = null;\nvar temperature=0;\nvar res1= {payload:null};\nvar res2= {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1,res2];\n","outputs":1,"noerr":0,"x":285.5,"y":236,"wires":[["228d5de4.197d42","dbeeb097.98a23","b0010a53.4fd9a8","8a278e8a.be677","ac20c230.44568"]]},{"id":"dbeeb097.98a23","type":"ui_chart","z":"55a6647.d17d59c","name":"Temperature Sec Chart","group":"f37a25d8.674a48","order":0,"width":"8","height":"6","label":"Historico de Temperatura [sec]","chartType":"line","legend":"true","xformat":"%H:%M:%S","interpolate":"linear","nodata":"without data input","ymin":"0","ymax":"35","removeOlder":"5","removeOlderUnit":"60","x":631.5,"y":209,"wires":[[],[]]},{"id":"49af2157.689d","type":"debug","z":"55a6647.d17d59c","name":"temperature/secs","active":false,"console":"false","complete":"payload","x":292.5,"y":197,"wires":[]},{"id":"228d5de4.197d42","type":"debug","z":"55a6647.d17d59c","name":"temperature","active":false,"console":"false","complete":"payload","x":592,"y":171,"wires":[]},{"id":"a7a5299b.8dd9a8","type":"link in","z":"55a6647.d17d59c","name":"in1","links":["622d37b2.b48608"],"x":82,"y":238,"wires":[["49af2157.689d","d3f5e3da.d1fb8"]]},{"id":"b0010a53.4fd9a8","type":"debug","z":"55a6647.d17d59c","name":"timestamp","active":false,"console":"false","complete":"payload","x":592,"y":338,"wires":[]},{"id":"e403425.d50f6c","type":"debug","z":"55a6647.d17d59c","name":"temperature","active":false,"console":"false","complete":"payload","x":589,"y":378,"wires":[]},{"id":"6b7dcf3.7859d3","type":"debug","z":"55a6647.d17d59c","name":"timestamp","active":false,"console":"false","complete":"payload","x":591,"y":516,"wires":[]},{"id":"7a85d10c.9c994","type":"ui_chart","z":"55a6647.d17d59c","name":"Temperature Min Chart","group":"f37a25d8.674a48","order":0,"width":"8","height":"6","label":"Historico de Temperatura [min]","chartType":"line","legend":"true","xformat":"%H:%M:%S","interpolate":"linear","nodata":"without data input","ymin":"0","ymax":"35","removeOlder":"25","removeOlderUnit":"60","x":633,"y":414,"wires":[[],[]]},{"id":"d6369b43.779b38","type":"function","z":"55a6647.d17d59c","name":"Format 4 Mins","func":"var input = msg.payload;\nvar time = null;\nvar temperature=0;\nvar res1= {payload:null};\nvar res2= {payload:null};\n\ntime = input.sensetime;\ntemp = input.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1,res2];\n","outputs":1,"noerr":0,"x":292.5,"y":452,"wires":[["e403425.d50f6c","7a85d10c.9c994","9b68d68d.fc16e8","6b7dcf3.7859d3","8dd900c2.f49b9"]]},{"id":"70a33a4d.a82a64","type":"debug","z":"55a6647.d17d59c","name":"temperature/min","active":false,"console":"false","complete":"payload","x":299.5,"y":413,"wires":[]},{"id":"b81627d3.a8d008","type":"link in","z":"55a6647.d17d59c","name":"in2","links":["869987f8.2f8538"],"x":89,"y":454,"wires":[["70a33a4d.a82a64","d6369b43.779b38"]]},{"id":"8a278e8a.be677","type":"ui_gauge","z":"55a6647.d17d59c","name":"Instant Sec Temperature","group":"f37a25d8.674a48","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperatura Actual","label":"C","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"x":632,"y":244,"wires":[]},{"id":"ac20c230.44568","type":"ui_text","z":"55a6647.d17d59c","group":"f37a25d8.674a48","order":0,"width":"8","height":"6","name":"Sense Time","label":"Sense Time","format":"{{msg.payload}}","layout":"row-spread","x":592,"y":285,"wires":[]},{"id":"8dd900c2.f49b9","type":"ui_text","z":"55a6647.d17d59c","group":"f37a25d8.674a48","order":0,"width":"8","height":"6","name":"Sense Timepmin","label":"Sense Timepmin","format":"{{msg.payload}}","layout":"row-spread","x":616,"y":482,"wires":[]},{"id":"9b68d68d.fc16e8","type":"ui_gauge","z":"55a6647.d17d59c","name":"Instant Min Temperature","group":"f37a25d8.674a48","order":0,"width":"8","height":"6","gtype":"gage","title":"Temperatura Actual Promedio","label":"°C","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"x":636,"y":448,"wires":[]},{"id":"9821019d.e173a","type":"mongodb","z":"55a6647.d17d59c","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"f37a25d8.674a48","type":"ui_group","z":"55a6647.d17d59c","name":"Estado del deposito","tab":"d6deb08a.7a634","disp":true,"width":"8"},{"id":"d6deb08a.7a634","type":"ui_tab","z":"55a6647.d17d59c","name":"Home","icon":"dashboard"}]