node-red/processing-flow.json
[{"id":"63694b3.43abfb4","type":"udp in","z":"3ed578fb.32d228","name":"UDP incoming","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":90.62037658691406,"y":50.06079864501953,"wires":[["183ac0a3.e5a03f","8f648f02.7455c"]]},{"id":"8f648f02.7455c","type":"json","z":"3ed578fb.32d228","name":"Format2JSON","x":270.8447265625,"y":89.22679138183594,"wires":[["2544911a.9c382e","d50eec6c.9bd6f"]]},{"id":"d50eec6c.9bd6f","type":"function","z":"3ed578fb.32d228","name":"Add Topic","func":"var res={};\n\nrecvdata=msg.payload;\ntopic=\"roomTemperature\";\n\nres.payload= recvdata;\nres.topic=topic;\n\nreturn res;","outputs":1,"noerr":0,"x":431.1125793457031,"y":126.24322509765625,"wires":[["e200a081.5dab1","a525ff8d.11cdc"]]},{"id":"8d973bc7.634e48","type":"mongodb out","z":"3ed578fb.32d228","mongodb":"82d2adc6.55f35","name":"Save Tpsec","collection":"temperaturespsec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":784.9999847412109,"y":168,"wires":[]},{"id":"183ac0a3.e5a03f","type":"debug","z":"3ed578fb.32d228","name":"incoming data","active":false,"console":"false","complete":"payload","x":271.5,"y":51,"wires":[]},{"id":"2544911a.9c382e","type":"debug","z":"3ed578fb.32d228","name":"JSON Format","active":false,"console":"false","complete":"payload","x":450.5,"y":91,"wires":[]},{"id":"56ff828e.a8affc","type":"inject","z":"3ed578fb.32d228","name":"Incoming Time","topic":"temperature_incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":107,"y":164,"wires":[["5c1f2a66.c13124","5213045f.c0b15c"]]},{"id":"5c1f2a66.c13124","type":"debug","z":"3ed578fb.32d228","name":"before Format","active":false,"console":"false","complete":"payload","x":289.5,"y":164,"wires":[]},{"id":"5213045f.c0b15c","type":"function","z":"3ed578fb.32d228","name":"Format Time","func":"var res= {};\n\nepoch=msg.payload;\ntopic=msg.topic;\n\ndatetime=new Date(epoch);\n//the 0 there is a key, wich sets the date to the\nres.payload=datetime;\nres.topic=\"roomTime\";\n//s\nreturn res;","outputs":1,"noerr":0,"x":280,"y":202,"wires":[["756808fb.c65208","e200a081.5dab1"]]},{"id":"756808fb.c65208","type":"debug","z":"3ed578fb.32d228","name":"after Format","active":false,"console":"false","complete":"payload","x":425.5,"y":241,"wires":[]},{"id":"e200a081.5dab1","type":"function","z":"3ed578fb.32d228","name":"Merge 2 Messages","func":"context.data=context.data||new Object();\n//\nswitch(msg.topic){\n    case \"roomTime\":\n        context.data.recvtime=msg.payload;\n        msg=null;\n        break;\n    case \"roomTemperature\":\n        context.data.room = msg.payload;\n        msg= null;\n        break;\n    default: \n        msg =null;\n        break;\n}\n\nif(context.data.recvtime !=null && context.data.room!=null){\n    res={};\n    res.payload=context.data;\n    res.topic=\"roomTemperature\";\n    context.data=null;\n    return res;\n}    \n return msg;","outputs":1,"noerr":0,"x":571,"y":202,"wires":[["8d973bc7.634e48","53dd9758.6374b8","622d37b2.b48608"]]},{"id":"a525ff8d.11cdc","type":"debug","z":"3ed578fb.32d228","name":"after Topic","active":false,"console":"false","complete":"payload","x":587,"y":126,"wires":[]},{"id":"53dd9758.6374b8","type":"debug","z":"3ed578fb.32d228","name":"after merge","active":false,"console":"false","complete":"payload","x":776.9999847412109,"y":214,"wires":[]},{"id":"20d71c90.8ff054","type":"function","z":"3ed578fb.32d228","name":"Create Query","func":"var res={};\nvar signal = msg.payload;\nnode.log(signal);\nvar maxtime = new Date(Date.now() - 1*60*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\nnode.log(maxtime);\nif(signal === true){\n    res.payload=query;\n    res.topic= \"mongoQuery\";\n    res.limit=100;\n    res.skip=0;\n    node.log(res.payload);\n    return res;\n}","outputs":1,"noerr":0,"x":353.49998474121094,"y":437.99998474121094,"wires":[["ffec193.011e2e8","f5735e3d.ad1c9"]]},{"id":"622d37b2.b48608","type":"link out","z":"3ed578fb.32d228","name":"out1","links":["a7a5299b.8dd9a8"],"x":720,"y":242,"wires":[]},{"id":"b6b9a203.33ca9","type":"function","z":"3ed578fb.32d228","name":"Processing Average","func":"var res= {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.temperature.unit;\nvar avgPlace = query[0].room.temperature.place;\nvar tempData=0;\nvar avgTemp=0;\nvar avgTime=0;\n//procesa la temperatura promedio del intervalo\nfor(var i=0;i<query.length;i++){\n    tempData=tempData + query[i].room.temperature.data;\n    \n}\nnode.log(\"hola\");\navgTemp=parseInt(tempData/query.length);\ntempData=0;\n\n//calcula el tiempo estimado del intervalo\n\nfor(var i=0; i<query.length;i++){\n    tempData=tempData+new Date(query[i].room.sensetime).getTime();\n    \n}\n\navgTime=Math.round(tempData/query.length);\navgTime=new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, temperature:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic=\"avgpminTemperature\";\nreturn res;","outputs":1,"noerr":0,"x":766.4999847412109,"y":442.99998474121094,"wires":[["63ff8939.3005a8","869987f8.2f8538","3db3c919.4852c6"]]},{"id":"6e5f3e32.532ea","type":"inject","z":"3ed578fb.32d228","name":"Processing Signal","topic":"temperature_sensorTime","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"x":158,"y":330,"wires":[["20d71c90.8ff054","b8751209.21834"]]},{"id":"b8751209.21834","type":"debug","z":"3ed578fb.32d228","name":"boolean signal","active":false,"console":"false","complete":"payload","x":356.49998474121094,"y":475.99998474121094,"wires":[]},{"id":"ffec193.011e2e8","type":"debug","z":"3ed578fb.32d228","name":"query signal","active":false,"console":"false","complete":"payload","x":552.9999847412109,"y":437.99998474121094,"wires":[]},{"id":"f5735e3d.ad1c9","type":"mongodb in","z":"3ed578fb.32d228","mongodb":"82d2adc6.55f35","name":"Find Tpmin","collection":"temperaturespsec","operation":"find","x":561.3888244628906,"y":476.8888702392578,"wires":[["b6b9a203.33ca9","efa1b991.6c4708"]]},{"id":"efa1b991.6c4708","type":"debug","z":"3ed578fb.32d228","name":"query Result","active":false,"console":"false","complete":"payload","x":736.9999847412109,"y":478.99998474121094,"wires":[]},{"id":"63ff8939.3005a8","type":"debug","z":"3ed578fb.32d228","name":"final result","active":true,"console":"false","complete":"payload","x":990.9999847412109,"y":416.99998474121094,"wires":[]},{"id":"869987f8.2f8538","type":"link out","z":"3ed578fb.32d228","name":"out2","links":["b81627d3.a8d008"],"x":939.4999847412109,"y":500.99998474121094,"wires":[]},{"id":"3db3c919.4852c6","type":"http request","z":"3ed578fb.32d228","name":"POST sensor_records","method":"POST","ret":"txt","url":"http://localhost:8080/api/sensors/3/records","tls":"","x":1006.833349639987,"y":457.5278015136719,"wires":[["fc709839.f05fe8"]]},{"id":"82d2adc6.55f35","type":"mongodb","z":"3ed578fb.32d228","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""}]