node-red/telemetry-flow.json
[
	{"id":"9df2289e.8c7ed8",
	"type":"serial in",
	"z":"b0374e23.c4f53",
	"name":"temperatureSensor",
	"serial":"e899ceab.2e322",
	"x":108,"y":202,"wires":[["16341a5c.8480c6","e01943b.08bc5c"]]},
		{"id":"7055d5.66d12a2c",
		"type":"inject",
		"z":"b0374e23.c4f53",
		"name":"sensorTime",
		"topic":"temperature_sensorTime",
		"payload":"",
		"payloadType":"date",
		"repeat":"1","crontab":"",
		"once":true,"x":102,"y":68,
		"wires":[["2d89ba4b.74d8a6","e92a4936.a4cfe8"]]},
			{"id":"2d89ba4b.74d8a6",
			"type":"debug",
			"z":"b0374e23.c4f53",
			"name":"before format",
			"active":false,
			"console":"false",
			"complete":"payload",
			"x":341.5,
			"y":32,
			"wires":[]},
				{"id":"16341a5c.8480c6","type":"debug","z":"b0374e23.c4f53","name":"before format","active":false,"console":"false","complete":"payload","x":353,"y":170,"wires":[]},{"id":"d5841651.26a318","type":"debug","z":"b0374e23.c4f53","name":"after format","active":false,"console":"false","complete":"payload","x":565.5,"y":23,"wires":[]},{"id":"daca659.24a1e98","type":"debug","z":"b0374e23.c4f53","name":"after format","active":false,"console":"false","complete":"payload","x":549,"y":267,"wires":[]},{"id":"3af227eb.8f3a78","type":"function","z":"b0374e23.c4f53","name":"Merge 2 Messages","func":"context.data=context.data||new Object();\n\nswitch(msg.topic){\n    case \"roomTime\":\n        context.data.sensetime=msg.payload;\n        msg=null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg= null;\n        break;\n    default: \n        msg =null;\n        break;\n}\n\nif(context.data.sensetime !=null && context.data.temperature!=null){\n    res={};\n    res.payload=JSON.stringify(context.data);\n    res.topic=\"roomTemperature\";\n    context.data=null;\n    return res;\n    \n}\n return msg;","outputs":1,"noerr":0,"x":605,"y":151,"wires":[["1e0492b9.83b3cd","dd106978.a0a9e8"]]},{"id":"1e0492b9.83b3cd","type":"udp out","z":"b0374e23.c4f53","name":"Send Temperature","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":849,"y":92,"wires":[]},{"id":"dd106978.a0a9e8","type":"debug","z":"b0374e23.c4f53","name":"after merge","active":false,"console":"false","complete":"payload","x":833,"y":211,"wires":[]},{"id":"e92a4936.a4cfe8","type":"function","z":"b0374e23.c4f53","name":"Format Time","func":"var res= {};\n\nepoch=msg.payload;\ntopic=msg.topic;\n\ndatetime=new Date(epoch);\n//the 0 there is a key, wich sets the date to the\nres.payload=datetime;\nres.topic=\"roomTime\";\n\nreturn res;","outputs":1,"noerr":0,"x":329,"y":76,"wires":[["d5841651.26a318","3af227eb.8f3a78"]]},{"id":"e01943b.08bc5c","type":"function","z":"b0374e23.c4f53","name":"Format Temperature","func":"var res={};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload+\"\";\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\":parseInt(tempArray[0]),\"unit\":tempUnit};\nreturn res;","outputs":1,"noerr":0,"x":355,"y":236,"wires":[["3af227eb.8f3a78","daca659.24a1e98"]]},{"id":"e899ceab.2e322","type":"serial-port","z":"b0374e23.c4f53","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]